In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Corona_Updated.csv')

In [3]:
data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0

In [9]:
data['Temp_Cat'] = data['Temprature'].apply(lambda x: 0 if x < 24 else 1)

In [10]:
data['Temp_Cat'].describe()

count    206.000000
mean       0.150485
std        0.358418
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Temp_Cat, dtype: float64

In [13]:
DA = data[data['Temp_Cat'] == 1 ]['Confirmed']
DB = data[data['Temp_Cat'] == 0 ]['Confirmed']

In [14]:
MA = DA.mean()
MB = DB.mean()

In [15]:
SA = DA.std()
SB = DB.std()

In [16]:
nA = len(DA)
nB = len(DB)

In [19]:
from numpy import sqrt, abs, round
from scipy.stats import norm

In [20]:
d = ((SA ** 2) / nA) + ((SB ** 2) / nB)

In [21]:
n = MA - MB

In [23]:
Z = n / d
Z

-0.00413568834366393

In [24]:
P-Value = 2 * (1 - norm.cdf(abs(Z)))

SyntaxError: cannot assign to operator (1270658673.py, line 1)